{% extends 'baseBack.html.twig' %}
{% block title %}
    Reservation
{% endblock %}
{% block content %}
    <!--wrapper-->
    <div class="wrapper">
          <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                <!--breadcrumb-->
                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                    <div class="breadcrumb-title pe-3">Tables</div>
                    <div class="ps-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bxs-calendar"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Réservations</li>
                            </ol>
                        </nav>
                    </div>

                </div>
                <!--end breadcrumb-->

                <h6 class="mb-0 text-uppercase" >Liste des Réservations</h6>
                <br>

                <div>
                    <input type="text" id="search" class="form-control search-control" placeholder="Type to search...">
                </div>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="reservationTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Nom du client </th>
                                    <th>Date reservation</th>
                                    <th>Numero Portable</th>
                                    <th>Numero de la table</th>
                                    <th>Email</th>
                                    <th>image de la table</th>

                                    <th>Supprimer</th>
                                    <th>Modifier</th>
                                </tr>
                                </thead>
                                <tbody id="all">
                                {% include 'back/reservation/ajax.html.twig' %}
                                </tbody>
                                <tbody id="search">

                                </tbody>


                            </table>
                            <div style="align-self: center">
                            {{ knp_pagination_render(r) }}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--end page wrapper -->

    </div>
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
    </script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({
                    url : "{{ path('searchResajax') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>

    <!--end wrapper-->
{% endblock %}

