{% extends 'baseChef.html.twig' %}
{% block title %}
    Planning
{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div class="page-content">

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Ajouter Planning</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-calendar-event"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="card">
                <div class="card-body p-4">

                    <hr/>
                    <div class="form-body mt-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="border border-3 p-4 rounded">
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Nom du planning</label>
                                        <input type="text" class="form-control" id="inputPrice" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPrice" class="form-label">Description</label>
                                        <input type="text" class="form-control" id="inputPrice" placeholder="">
                                    </div>


                                    <div class="mb-3">
                                        <label class="form-label">Date début:</label>
                                        <input type="datetime-local" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Date fin:</label>
                                        <input type="datetime-local" class="form-control">
                                    </div>



                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-light">Ajouter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--end row-->
                </div>
            </div>
        </div>

    </div>
{% endblock %}
