{% extends 'baseFront.html.twig' %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    {% if activeEvents is empty %}
        <div class="main-banner">
            <div class="main-banner-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Foodine</h1>
                                <div class="banner-btn">
                                    <a href="shop-1.html" class="default-btn">Notre Restaurant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    {% for e in activeEvents %}
            <style>
                .main-banner-item {
                    background-image: url('{{asset('../../../uploads/' ~ e.image)}}')
                }
            </style>
        <div class="main-banner">
            <div class="main-banner-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Foodine</h1>
                                <div class="banner-btn">
                                    <a href="shop-1.html" class="default-btn">Notre Restaurant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}

{% endblock %}
