{% extends 'baseChef.html.twig' %}
{% block title %}
    Recettes
{% endblock %}
{% block content %}
    <div class="page-wrapper">
        <div class="page-content">

            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Ajouter Recette</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-receipt"></i></a>
                            </li>

                        </ol>
                    </nav>
                </div>

            </div>
            <!--end breadcrumb-->

            <div class="card">
                <div class="card-body p-4">
                    <h5 class="card-title">Ajouter Recette</h5>
                    <hr/>
                    <div class="form-body mt-4">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="border border-3 p-4 rounded">
                                    <div class="mb-3">
                                        <label for="inputProductDescription" class="form-label">Image de la recette</label>
                                        <input id="image-uploadify" type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="border border-3 p-4 rounded">
                                    <div class="row g-3">


                                        <div class="col-12">
                                            <label for="inputProductType" class="form-label">Nom De la recette</label>
                                            <input type="text" class="form-control" id="inputProductTags" placeholder="Nom recette">
                                        </div>
                                        <div class="col-12">
                                            <label for="inputVendor" class="form-label">Nom de du planning</label>
                                            <select class="form-select" id="inputVendor">
                                                <option></option>
                                                <option value="1">One</option>
                                            </select>
                                        </div>

                                        <div class="card-body">
                                            <form>

                                                <div class="mb-3">
                                                    <label class="form-label">Ingrédients</label>
                                                    <select multiple data-role="tagsinput">
                                                        <option value="Amsterdam">Ingredient1</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-12">
                                            <label for="inputProductTags" class="form-label">Description</label>
                                            <input type="text" class="form-control" id="inputProductTags" placeholder="Enter Product Tags">
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="button" class="btn btn-light">Ajouter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end row-->
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}